a{
    text-decoration: none;
    color: black;
}
.music{
    width: 200px;
    height: 200px;
    padding: 50px;
    position: relative;
}
.music-panel{
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    background-color: #ffffff;
    height: 200px;
    width: 200px;
}
.undercard{
    position: absolute;
    transform-origin: center center;
    -webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
    -o-transform: rotate(-0deg);
    transform: rotate(-0deg);
    background-color: #aaa;
    transition: .3s;
    height: 200px;
    width: 200px;
}
.music-panel:hover + .undercard{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.music:hover .music-panel__addto{
    opacity: 1;
}
.music-panel__addto{

    transition: .4s;
    color: #777777;
    position: absolute;
    display: block;
    line-height: 18px ;
    z-index: 3;
    margin-left: 160px;
    margin-top: 160px;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    vertical-align: center;
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    opacity: 0;

}.music:hover .music-panel__addto{
    opacity: 1;
}
.music-panel__addto{

    transition: .4s;
    color: #777777;
    position: absolute;
    display: block;
    line-height: 18px ;
    z-index: 3;
    margin-left: 160px;
    margin-top: 160px;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    vertical-align: center;
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    opacity: 0;

}
.music-panel__cover{
    height: 200px;
    position: absolute;
    transform: scale(1);
    left: 0;
    transition: .3s;
}
.music-panel__title{
    font-weight: 600;
    min-width: 200px;
    color: #ffffff;
    transform: translate(-50%,+500%);
    text-align: center;
    margin-left: 50%;
    margin-top: 80%;
    position: absolute;
    z-index: 3;
    display: inline-block;
    transition: .3s;
}
.music-panel:hover .music-panel__title{
    color: rgba(255,255,255,0);
}
.music-panel:hover .music-panel__cover{
    transform: scale(1.1);
}
.music-panel__overlay{
    z-index: 2;
    position: absolute;
    background:linear-gradient(rgba(162, 5, 255, 0.37), rgba(0, 0, 0, 0.73));
    height: 100%;
    width: 100%;
    transition: all .3s;
    mix-blend-mode: darken;
}
.music-panel:hover .music-panel__overlay{
    height: 150%;
    /*background:linear-gradient(rgba(255, 0, 0, 0.37), rgba(0, 0, 0, 0.85));*/

}
.playlists{
    background-color: white;
    display: block;
    transition: .3s;
    visibility: hidden;
    width: auto;
    padding: 16px 5px 5px 16px;
    min-width: 200px;
    margin-left: 172px;
    margin-top: 160px;
    margin-right: 0;
    position: absolute;
    z-index: 2;
    list-style: none;
    color: #aaaaaa;
    opacity: 0;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
    border-top-right-radius:15px ;

}
.playlists.active{
    visibility: visible;

    opacity: 1;

}
.playlists a{
    display: inline;
}
.playlists li{
    display: inline-block;
    line-height: 20px;
    width: auto;
    text-transform: uppercase;
    padding-bottom: 16px;
    padding-left: 5px;
    background-color: #ffffff;

}
.playlists li:last-of-type{

}
.playlists li:first-of-type{


}
.all-music{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.music + .music {
    margin-left: 15px;
}
.playlists a{
    transition: .3s;
    transform: translateY(+2px);
    margin-left: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    width: 30px;
    height: 30px;
    color: #0c0;
    border: 1px solid #0c0;
}
.playlists li a{
    transition: .3s;
    margin-left: 10px;

    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    width: 30px;
    height: 30px;
    color: #0c0;
    border: 1px solid #0c0;

}
.playlists a:hover{
    background-color: #00cc00;
    color: white;
}
.music-panel__play{
    position: absolute;
}
.genre{
    transition: .3s;
    opacity:1;
    padding: 5px 20px 5px 20px;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 10px;
    font-size: 70%;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    background-color: #a205ff;
    position: absolute;
    z-index: 2;
}
.playlists input{
    color: #aaaaaa;;
    padding: 10px;
    outline: 0;
    margin: 0;
    border: 1px solid #cbcbcb;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: inline-block;
    width: 75%;
}
.playlists input::placeholder{
    color: #aaaaaa;
}
.playlists hr{
    opacity: .3;
    margin:15px 0px ;
}
.music-panel__author{
    font-weight: 400;
    min-width: 200px;
    color: #ffffff;
    transform: translate(-50%,-200%);
    text-align: center;
    margin-left: 50%;
    margin-top: 80%;
    position: absolute;
    z-index: 3;
    display: inline-block;
    transition: .3s;
}
.music-panel:hover .music-panel__author{
    color: rgba(255,255,255,0);
}
.music-panel:hover .genre{
    opacity: 0;
}
.music .icon{
    color: black;

    opacity: 0;
    width: 200px;
    z-index: 3;
    line-height: 200px;
    font-size: 120px;
    text-align: center;
    position: absolute;
    transition: .3s;

}
.music-panel:hover .icon{
    color: black;
    opacity: .5;
}
.icon:hover{
    color: black;
    opacity: .5;
}
.music:hover .music-panel__addto{
    opacity: 1;
}
.music-panel__delete{
    border: 0px;
    transition: .4s;
    color: #3e0300;
    position: absolute;
    display: block;
    z-index: 3;
    margin-left: 160px;
    margin-top: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    background-color: #ff0002;
    height: 30px;
    width: 30px;
    opacity: 0;

}.music:hover .music-panel__delete{
     opacity: 1;
 }
