body, html{
    font-family: 'Montserrat Alternates', sans-serif;
    height: 100%;
    background-color: #F3F3F3;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/*header*/
header{
    position: fixed;
    width: 100%;
    background: #a900ff; /* Old browsers */
    background: -moz-linear-gradient(top, #a900ff 0%, #7f6df2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a900ff 0%,#7f6df2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a900ff 0%,#7f6df2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a900ff', endColorstr='#7f6df2',GradientType=0 ); /* IE6-9 */
    height: 50px;
    padding-right: 100px;
    padding-left: 100px;
    
}
.navigation{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.navigation input{
    width: 500px;
    border: none;
    border-radius: 50px;
    height: 30px;
    padding-left: 50px;
}
.log{
    padding: 50px;
}
.log .user{
    color: white;
    padding: 7px;
    padding-right: 20px;
    border-right: white solid 1.5px;
}

#menu{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}



/* Container */
.container{
    background: #d6dcce; /* Old browsers */
    background: -moz-linear-gradient(top, #d6dcce 0%, #d1d8d1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d6dcce 0%,#d1d8d1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d6dcce 0%,#d1d8d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6dcce', endColorstr='#d1d8d1',GradientType=0 ); /* IE6-9 */
    height: 100%;
    padding-top: 200px;
    padding-right: 100px;
    padding-left: 100px;
    bottom: 0;
}
.container h1{
    font-size: 70px;
    font-weight: 600;
    color: #A111FC;
}
.player{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 90px;
    display: flex;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
}
.player audio{
    width: 100%;
    background-color: #F3F3F3;
}

.container-audio {
    width: 66%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #eee;
    color: #444;
    margin: 20px auto;
    overflow: hidden;
}
.container-audio .colum1 {
    width: 23px;
    height: 5em;
    border-radius: 5px;
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
}
.container-audio .colum1:last-child {
    margin: 0;
}
.container-audio .colum1 .row {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: -webkit-gradient(linear, up, from(#7700aa), to(#8800ff));
    background: linear-gradient(to up, #7700aa, #8800ff);
    position: absolute;
    -webkit-animation: Rofa 10s infinite ease-in-out;
    animation: Rofa 10s infinite ease-in-out;
    bottom: 0;
}
.container-audio .colum1:nth-of-type(1) .row {
    -webkit-animation-delay: 3.99s;
    animation-delay: 3.99s;
}
.container-audio .colum1:nth-of-type(2) .row {
    -webkit-animation-delay: 3.80s;
    animation-delay: 3.80s;
}
.container-audio .colum1:nth-of-type(3) .row {
    -webkit-animation-delay: 3.70s;
    animation-delay: 3.70s;
}
.container-audio .colum1:nth-of-type(4) .row {
    -webkit-animation-delay: 3.60s;
    animation-delay: 3.60s;
}
.container-audio .colum1:nth-of-type(5) .row {
    -webkit-animation-delay: 3.50s;
    animation-delay: 3.50s;
}
.container-audio .colum1:nth-of-type(6) .row {
    -webkit-animation-delay: 3.40s;
    animation-delay: 3.40s;
}
.container-audio .colum1:nth-of-type(7) .row {
    -webkit-animation-delay: 3.30s;
    animation-delay: 3.30s;
}
.container-audio .colum1:nth-of-type(8) .row {
    -webkit-animation-delay: 3.20s;
    animation-delay: 3.20s;
}
.container-audio .colum1:nth-of-type(9) .row {
    -webkit-animation-delay: 3.10s;
    animation-delay: 3.10s;
}
.container-audio .colum1:nth-of-type(10) .row {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
.container-audio .colum1:nth-of-type(11) .row {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
.container-audio .colum1:nth-of-type(12) .row {
    -webkit-animation-delay: 2.10s;
    animation-delay: 2.10s;
}
.container-audio .colum1:nth-of-type(13) .row {
    -webkit-animation-delay: 2.20s;
    animation-delay: 2.20s;
}
.container-audio .colum1:nth-of-type(14) .row {
    -webkit-animation-delay: 1.30s;
    animation-delay: 1.30s;
}
.container-audio .colum1:nth-of-type(15) .row {
    -webkit-animation-delay: 1.40s;
    animation-delay: 1.40s;
}
.container-audio .colum1:nth-of-type(16) .row {
    -webkit-animation-delay: 1.50s;
    animation-delay: 1.50s;
}
.container-audio .colum1:nth-of-type(17) .row {
    -webkit-animation-delay: 1.60s;
    animation-delay: 1.60s;
}
.container-audio .colum1:nth-of-type(18) .row {
    -webkit-animation-delay: 1.70s;
    animation-delay: 1.70s;
}
.container-audio .colum1:nth-of-type(19) .row {
    -webkit-animation-delay: 1.80s;
    animation-delay: 1.80s;
}
.container-audio .colum1:nth-of-type(20) .row {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes Rofa {
    0% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: yellow;
    }

    5% {
        height: 100%;
        -webkit-transform: translatey(15px);
        transform: translatey(15px);
        background-color: fuchsia;
    }
    10% {
        height: 90%;
        transform: translatey(0);
        -webkit-transform: translatey(0);
        background-color: bisque;
    }

    15% {
        height: 80%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    20% {
        height: 70%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    25% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    30% {
        height: 70%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    35% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    40% {
        height: 60%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    45% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    50% {
        height: 50%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    55% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    60% {
        height: 40%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    65% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    70% {
        height: 30%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    75% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    80% {
        height: 20%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    85% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    90% {
        height: 10%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    95% {
        height: 5%;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
    100% {
        height: 0;
        -webkit-transform: translatey(0);
        transform: translatey(0);

        background-color: cornflowerblue;
    }
}


.issou{
    background-color: #0F0;
    height: 100%;
    width: 100%;
    transition: .3s;
}
.overlay{
    opacity: 0;
    z-index:3;
    position: absolute;
    width: 00;
    height: 100vh;
    background-color: #000;
    top:0;
    left: 0;
    transition: opacity .3s, width 0s;
}
.overlay.active{
    opacity: 0.5;
    width: 100vw;

}
aside{
    z-index: 5;
    transition: .3s;
    color: white;
    background: #a900ff; /* Old browsers */
    background: -moz-linear-gradient(top, #a900ff 0%, #7f6df2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a900ff 0%,#7f6df2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a900ff 0%,#7f6df2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a900ff', endColorstr='#7f6df2',GradientType=0 ); /* IE6-9 */
    right: 0;
    position: fixed;
    width: 0;
    height: 100vh;
}
aside.active{
    width: 50%;
}
aside li{
    padding: 2vh;
}
aside .item{
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: #A704FE;
}
ul{
    padding: 50px;
    text-align: center;
}
ul li{
    cursor: pointer;
    list-style: none;
}

.modalu.active{
    transform: translateY(0%);
}
.modalu{
    transition: .3s;
    padding: 50px;
    z-index: 10;
    background-color: #fff;
    position: absolute;
    transform: translateY(-100%);
}
aside ul li{
    transition: .3s;
    border-radius: 5px;
    color: white;
    background-color: #825eff;
 padding: 20px;
    mix-blend-mode: screen;
}
aside li + li{
    margin-top: 5px;
}
aside li:hover{
    opacity: .7;
}
aside a{
    color: white;
}aside a:hover{
    color: white;
}
aside ul li:last-of-type{
    background-color: yellow;
}
.contenu{
    padding: 100px 50px 50px;
}